.formalign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #e0ffff;
  height: 100vh;
}
.form-card {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  background-color: #d3d3d3;
  border-radius: 2%;
}
.floatingform {
  display: flex;
  flex-direction: column;
}
.formcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 160px;
  background-color: #FFF;
  border-radius: 2%;
  margin: 10px 0 10px 0;

}
.productalign {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.formcard .alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.form-card label,
.formcard label {
  font-size: 15px;
  font-weight: bold;
}
.form-card input,
.formcard input {
  border: none;
  border-radius: 3%;
  font-size: 15px;
  font-weight: 200;
}
.form-card input::placeholder,
.formcard input::placeholder {
  font-size: 12px;
  font-weight: 500;
}
.errorshow {
  color: #ff0000;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.form-card button,
.formcard button {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  background-color: #008000;
  border: none;
  border-radius: 3%;
}
.form-card button:hover,
.formcard button:hover {
  opacity: 80%;
}
.form-control.grouping-inputs {
  background: transparent !important;
  padding: 0rem 0.7rem 0 0.75rem;
}
.form-floating label {
  padding-top: 2rem;
}
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 2.625rem;
  padding-bottom: 0;
}
.form-floating > .form-control:focus {
  padding-top: 2.625rem;
}
.floatingform p{
  margin-bottom: 0;
}
.buttonalign{
  display: flex;
  gap: 40px;
  justify-content: center;
}
.buttonalign .backicon{
  background: transparent;
  color: #000;
  font-size: x-large;
}
.buttonalign :first-child{
  font-size: 20px;
  padding: 2px 30px;
}
