@media (min-width: 320px) {
    .ecom-navbarsplit ul li a {
    text-decoration: none;
    padding-right: 50px;
    font-weight: 400;
    font-size: 16px;
  }
  .ecom-navbarsplit strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3%;
  }
  .ecom-navbarsplit ul li a:focus {
    text-decoration: underline;
  }
  .favourite {
    display: flex;
    padding-left: 10px;
    gap: 30px;
  }
  .inputs svg {
    width: 30px;
    height: 25px;
  }
  .inputs {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .ecom-navbarsplit input {
    border: none;
    background-color: transparent;
    width: 125px;
    height: 25px;
  }
  .ecom-navbarsplit input::placeholder{
    font-size: 12px;
  }
  .inputsplit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    padding: 3px 9px 3px 15px;
    background-color: #f5f5f5;
    border: none;
    gap: 10px;
  }
  .ecom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 10px 0;
    border-bottom: 1px solid black;
  }
  .ecom-navbarsplit {
    display: flex;
    gap: 45px;
    align-items: center;
  }
  .ecom-navbarsplit ul li {
    list-style-type: none;
  }
  .ecom-navbarsplit ul {
    display: flex;
  }
  .ecom-navbarsplit ul li a {
    display: none;
  }
  .favourite {
    display: flex;
  }
  .inputs svg {
    width: 20px;
    height: 20px;
  }
  .ecom-navbarsplit input {
    border: none;
    background-color: transparent;
    width: 100px;
    height: 20px;
  }
  .ecom-navbar {
    position: fixed;
    width: 100%;
    top: 40px;
    background-color: white;
    z-index: 999;
  }
}
@media (min-width: 768px) {
  .ecom-navbarsplit ul li a {
    padding-right: 10px;
    font-weight: 500;
    font-style: Regular;
    font-size: 14px;
    color: black;
    text-decoration: none;
    display: block;
  }
  .ecom-navbarsplit ul li a:focus {
    text-decoration: underline;
  }
  .favourite {
    display: flex;
    padding-left: 10px;
  }
  .ecom-navbarsplit svg {
    width: 30px;
    height: 20px;
  }
  .inputs svg {
    width: 30px;
    height: 40px;
  }
  .ecom-navbarsplit input {
    border: none;
    background-color: transparent;
    width: 150px;
    height: 15px;
  }
}
@media (min-width: 992px) {
  .ecom-navbarsplit ul li a {
    padding-right: 40px;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: black;
  }
  .ecom-navbarsplit ul li a:focus {
    text-decoration: underline;
  }
  .favourite {
    display: flex;
    padding-left: 10px;
    gap: 5px;
  }
  .ecom-navbarsplit input {
    border: none;
    background-color: transparent;
    width: 135px;
    height: 25px;
  }
}
@media (min-width: 1280px) {
  .ecom-navbarsplit ul li a {
    text-decoration: none;
    padding-right: 50px;
    font-weight: 400;
    font-size: 16px;
  }
  .ecom-navbarsplit strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3%;
  }
  .ecom-navbarsplit ul li a:focus {
    text-decoration: underline;
  }
  .favourite {
    display: flex;
    padding-left: 10px;
    gap: 30px;
  }
  .inputs svg {
    width: 30px;
    height: 25px;
  }
  .inputs {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .ecom-navbarsplit input {
    border: none;
    background-color: transparent;
    width: 125px;
    height: 25px;
  }
  .ecom-navbarsplit input::placeholder{
    font-size: 12px;
  }
  .inputsplit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    padding: 3px 9px 3px 15px;
    background-color: #f5f5f5;
    border: none;
    gap: 10px;
  }
  .ecom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 10px 0;
    border-bottom: 1px solid black;
  }
  .ecom-navbarsplit {
    display: flex;
    gap: 45px;
    align-items: center;
  }
  .ecom-navbarsplit ul li {
    list-style-type: none;
  }
  .ecom-navbarsplit ul {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .ecom-navbarsplit {
    display: flex;
    gap: 90px;
    align-items: center;
  }
}
