@media (min-width: 320px) {
  .headermain {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 48px;
    padding: 0 10px;
    position:fixed;
    width: 100%;
    top: 0px;
    z-index: 9999;
  }
  .salesbanner {
    display: flex;
    align-items: center ;
  }
  .headermainsplit {
    display: flex;
    align-items: center;
  }
  .headermainsplit .salesbanner p {
    font-weight: 300;
    font-size: 14px;
    color: white;
    opacity: 0.7;
  }
  .headermainsplit  a {
    color: white;
    font-weight: 500;
  }
  .headermainsplit select {
    background-color: transparent;
    color: white;
    border: none;
  }
  .headermainsplit option {
    color: black;
  }
}
@media (min-width: 768px) {
  .headermainsplit p {
    padding-left: 100px;
  }
 
  
  .headermainsplit select {
    font-weight: 300;
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .salesbanner {
    gap: 6px;
  }
  .headermainsplit p {
    font-size: 12px;
    font-weight: 200;
    padding-left: 130px;
  }
  .headermainsplit a {
    font-size: 14px;
    font-weight: 500;
  }
  .headermainsplit {
    gap: 130px;
  }
  .headermainsplit select {
    font-weight: 300;
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .headermainsplit p {
    font-size: 15px;
    padding-left: 130px;
  }
  .salesbanner {
    gap: 10px;
  }
  .headermainsplit {
    gap: 175px;
  }
  .headermainsplit select {
    font-weight: 400;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .headermainsplit p {
    padding-left: 178px;
  }
  .headermainsplit select {
    font-weight: 500;
  }
}
@media (min-width: 1440px) {
  .headermainsplit p {
    padding-left: 300px;
  }
  .headermainsplit select {
    font-weight: 500;
  }
}
