@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
body {
  padding-top: 100px;
}
main{
 height: 100%;
  min-height: calc(100vh - 139px);
  padding: 18px 0 0 0;
}
main h1{
  text-align: center;
}
:root {
  --black-color: #000000;
  --pink-color: #db4444;
  --white-color: #ffffff;
  --orange-color: #db4444;
  --lightwhite-color: #fafafa;
  --lightgreen-color: #00ff66;
  --lightgrey-color: #f5f5f5;
  --lightblack-color: #0d0d0d;
}
